<main class="contianer col-md-10 mx-auto p-0 px-2 pb-4 m-0 mt-5" *ngIf="inventory === true">
    <!--<h3 class="ml-3 mb-2">Results for "{{search}}"</h3>-->

    <div class="alert alert-warning" role="alert">
        {{ (info | async)?.info }}
    </div>

    <section class="container col-md-10 mt-4 mb-4">
        <h6>{{products.length}} products</h6>
        <p>Did not find what you're looking for? Be a contributor <a href="" routerLink="/add-product">here</a>.</p>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
            <div class="col p-1" style="cursor: pointer;" *ngFor="let product of products" (click)="sendId(product.id)">
                <div class="card p-0">
                    <img [src]="product.imgUrl" [alt]="product.model" class="img-fluid w-100 m-0 p-0"
                        style="height: 13rem;">
                    <hr class="mb-1 mt-0">
                    <div class="px-2 py-0" style="overflow: hidden; height: 30px">
                        <span class="d-inline-block text-truncate" style="max-width: 150px;">{{ product.model }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- No Results -->
    <ng-template #noResults>
        <div class="contianer col-md-8 mx-auto p-0 px-2 m-0 text-center" *ngIf="auth.user$ | async; else guest">
            <h4 class="ml-3 mb-2">😞 No results found. Perhaps try a less specific search phrase.</h4>
            <br>
            <div class="container card col-md-6 text-center p-5 shadow">
                <h5>Want to help? Add a product.</h5>
                <button class="btn btn-primary mt-3 mx-auto" routerLink="/add-product"><strong>Add
                        Product</strong></button>
            </div>
        </div>

        <!-- Not Signed-in -->
        <ng-template #guest>
            <div class="contianer col-md-8 mx-auto p-0 px-2 m-0 text-center">
                <h4 class="ml-3 mb-2">😞 No results found. Perhaps try a less specific search phrase.</h4>
                <br>
                <div class="container card col-md-6 text-center p-5 shadow">
                    <h5>Want to help? Add a product.</h5>
                    <h5>Be contributor and part of the committee 🤝</h5>
                    <button class="btn btn-primary mt-3 col-md-3 mx-auto"
                        routerLink="/add-product"><strong>Join</strong></button>
                </div>
            </div>
            <div class="container text-center mb-3">
                <small>
                    By signing up and/or logging in, you agree with PRICECOMPARE.CHEAP
                    <a href="https://www.freeprivacypolicy.com/live/1df42b4f-72d8-48a5-8f32-33ed3eb27a47">Privacy
                        Policy.</a>
                </small>
            </div>
        </ng-template>
    </ng-template>

</main>