<main>
    <div class="container col-md-8 my-auto cen text-center">
        <div style="margin-top: 8rem;">
            <span style="font-size: larger">Checkout and compare prices of products to find where are selling the
                lowest price.</span>
            <form class="input-group input-group-lg mb-3 mt-5" #searchForm="ngForm" (ngSubmit)="onSubmit()">
                <input class="form-control" type="search" placeholder="Search brand. e.g Dove" [(ngModel)]="search"
                    name="search">
                <div class="input-group-append">
                    <button class="btn btn-warning px-5" type="submit" id="button-addon2"
                        [disabled]="search === ''">🔍</button>
                </div>
            </form>
        </div>
    </div>
</main>