<main class="p-0 m-0 bg-light">
    <nav class="navbar navbar-primary bg-white shadow-sm">
        <div class="container pt-2">
            <span class="h5" routerLink="/" style="cursor: pointer;"><img src="../../../../assets/logo.png"
                    style="height: 35px; width: 35px;" />PRICECOMPARE.CHEAP</span>
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="search"
                name="search">-->
            <div>
                <button class="btn btn-success my-2 mx-2 font-weight-bold" type="button" (click)="auth.signOut()"
                    *ngIf="auth.user$ | async">👋
                    Sign out</button>
                <button class="btn btn-outline-danger my-2 font-weight-bold" type="button" (click)="open(content)">⚠️
                    Report</button>
            </div>
        </div>

        <!--MODAL-->
        <ng-template #content let-modal>
            <div *ngIf="auth.user$ | async; else guest">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">⚠️ Report</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <small>Let us know if there is any technical errors, misleading information or even inappropriate
                        content.</small>
                    <form>
                        <div class="form-group mt-2">
                            <input type="text" class="form-control" placeholder="Title" name="title"
                                [(ngModel)]="title">
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="What's the issue?" name="body"
                                [(ngModel)]="body"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                        (click)="modal.close('Save click');submit()">Submit</button>
                </div>
            </div>

            <ng-template #guest>
                <section class="container my-4 mx-auto text-center">
                    <h3>Howdy, GUEST</h3>
                    <p>Login to get started...</p>
                    <button class="btn btn-danger btn-block col-10 mx-auto" (click)="auth.googleSignin()">
                        <i class="fab fa-google"></i> Google
                    </button>
                    <button class="btn btn-info btn-block col-10 mx-auto" (click)="auth.facebookSignin()">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </button>
                </section>
                <div class="container text-center mb-3">
                    <small>
                        By signing up and/or logging in, you agree with PRICECOMPARE.CHEAP
                        <a href="https://www.freeprivacypolicy.com/live/1df42b4f-72d8-48a5-8f32-33ed3eb27a47">Privacy
                            Policy.</a>
                    </small>
                </div>
            </ng-template>

        </ng-template>

    </nav>
    <router-outlet></router-outlet>
    <div class="p-4 float-right">
        PRICECOMPARE.CHEAP -
        <a href="https://www.freeprivacypolicy.com/live/1df42b4f-72d8-48a5-8f32-33ed3eb27a47">Privacy
            Policy</a>
    </div>
</main>