<li class="list-group-item" *ngFor="let store of product.stores">
    <details *ngIf="editState == false">
        <summary>
            <span><strong class="text-monospace">${{store.price | number : '1.2-2'}}</strong> - {{store.store}}</span>
            <a class="float-right" (click)="edit($event, store)">Edit</a>
        </summary>
        <br>
        <strong>Location:</strong><span *ngIf="store.location == ''; else lenNIL"> Unknown</span>
        <ng-template #lenNIL> {{store.location}}</ng-template>
        <br>
        <strong>Discounted Price:</strong><span *ngIf="store.discount == ''; else disc"> 0.00</span>
        <ng-template #disc> {{store.discount | number: '1.2-2'}}</ng-template>
        <br>
        <strong>Offer:</strong><span *ngIf="store.offer == ''; else offerNIL"> None</span>
        <br>
        <div class="pb-3 mt-0 pt-0">
            <small class="float-right font-italic">Last updated on {{store.date | date}}</small>
        </div>
        <ng-template #offerNIL> {{store.offer}}</ng-template>
    </details>

    <div *ngIf="editState && storeToEdit.id == store.id">
        <form (ngSubmit)="update(store)" *ngIf="auth.user$ | async; else guest">
            <label>Store: </label>
            <input class="form-control form-control-sm" type="text" placeholder="e.g Fair Price" name="store"
                [(ngModel)]="store.store">
            <br>
            <label>Price ($): </label>
            <input class="form-control form-control-sm" type="number" placeholder="0.00" name="price"
                [(ngModel)]="store.price">
            <br>
            <label>Location: </label>
            <input class="form-control form-control-sm" type="text" placeholder="e.g Vivo City" name="location"
                [(ngModel)]="store.location">
            <br>
            <label>Any offer?: </label>
            <input class="form-control form-control-sm" type="text" placeholder="e.g 2 for 1 or 20% off second item"
                name="offer" [(ngModel)]="store.offer">
            <br>
            <label>Discounted price ($): </label>
            <input class="form-control form-control-sm" type="number" placeholder="0.00" name="discount"
                [(ngModel)]="store.discount">
            <br>
            <div class="row ml-auto">
                <button class="btn btn-sm btn-warning" type="submit">Update</button>
                <button class="btn btn-sm btn-danger ml-2" (click)="clear()">Cancel</button>
            </div>
        </form>
    </div>

    <ng-template #guest>
        <section class="container mb-2 p-0 mx-auto">
            <a class="float-right" style="cursor: pointer;" (click)="clear()">❌</a>
            <br>
            <div class="text-center">
                <h3>Howdy, GUEST</h3>
                <p>Login to get started...</p>
                <button class="btn btn-danger btn-block col-10 mx-auto" (click)="auth.googleSignin()">
                    <i class="fab fa-google"></i> Google
                </button>
                <button class="btn btn-info btn-block col-10 mx-auto" (click)="auth.facebookSignin()">
                    <i class="fab fa-facebook-f"></i> Facebook
                </button>
            </div>
            <div class="container text-center mb-3">
                <small>
                    By signing up and/or logging in, you agree with PRICECOMPARE.CHEAP
                    <a href="https://www.freeprivacypolicy.com/live/1df42b4f-72d8-48a5-8f32-33ed3eb27a47">Privacy
                        Policy.</a>
                </small>
            </div>
        </section>
    </ng-template>
</li>