<main class="px-1" style="margin-top: 2rem;">

    <div class="container p-0 m-0 col-md-6" *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>

    <ng-template #guest>
        <section class="card col-md-6 p-5 shadow mx-auto text-center">
            <h3>Howdy, GUEST</h3>
            <p>Login to get started...</p>
            <button class="btn btn-danger col-6 mx-auto" (click)="auth.googleSignin()">
                <i class="fab fa-google"></i> Google
            </button>
            <button class="btn btn-info col-6 mx-auto mt-2" (click)="auth.facebookSignin()">
                <i class="fab fa-facebook-f"></i> Facebook
            </button>
            <div class="container text-center mt-3">
                <small>
                    By signing up and/or logging in, you agree with PRICECOMPARE.CHEAP
                    <a href="https://www.freeprivacypolicy.com/live/1df42b4f-72d8-48a5-8f32-33ed3eb27a47">Privacy
                        Policy.</a>
                </small>
            </div>
        </section>
    </ng-template>


    <ng-template #authenticated>
        <section class="card col-md-6 p-5 shadow mx-auto">
            <h3>🛍️ Add product</h3>
            <form class="mt-2" [formGroup]="productForm" [hidden]="success" (ngSubmit)="submitHandler()">
                <div class="form-group">
                    <label>Brand</label>
                    <input type="text" class="form-control" placeholder="e.g Dove/Milo/Gatsby" formControlName="brand"
                        required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="e.g 'Dove Body Wash ‑ Sensitive Skin'"
                        formControlName="model" required>
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="text" class="form-control" placeholder="e.g 500ml/1kg/15 Sticks"
                        formControlName="amount" required>
                </div>
                <div class="form-group">
                    <label>Upload Image</label>
                    <input class="form-control-file" type="file" (change)="upload($event)" accept=".png,.jpg" required>
                </div>

                <hr>

                <section formArrayName="stores">
                    <div *ngFor="let retailer of storesForms.controls; let i=index" [formGroupName]="i">
                        <div class="row">
                            <h5>Store details</h5>
                            <a class="ml-auto" style="cursor: pointer;" (click)="deleteStore(i)">❌</a>
                        </div>
                        <div class="form-group">
                            <label>Store</label>
                            <input type="text" class="form-control" placeholder="e.g Fair Price" formControlName="store"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" class="form-control" placeholder="e.g Vivo City"
                                formControlName="location">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" placeholder="0.00" formControlName="price"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Price after discount <small>(If any)</small></label>
                            <input type="number" class="form-control" placeholder="0.00" formControlName="discount">
                        </div>
                        <div class="form-group">
                            <label>Offer <small>(If any)</small></label>
                            <input type="text" class="form-control" placeholder="e.g Buy 3 get 1 free"
                                formControlName="offer">
                        </div>
                    </div>
                </section>

                <div class>
                    <label>Start adding prices from different stores <small>(Optional)</small></label>
                    <br>
                    <button class="btn btn-sm btn-outline-primary mt-2" type="button" (click)="addStores()">🏬 Add
                        Store</button>
                </div>
                <div>
                    <button class="btn btn-success float-right" [disabled]="productForm.invalid"
                        type="submit"><strong>Submit</strong></button>
                </div>
            </form>
            <div *ngIf="success">
                👏 Yay! You added a product!
            </div>
        </section>
    </ng-template>
</main>