/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: rgb(248, 249, 250);
}

/* Importing Bootstrap SCSS file. */
/*@import "~bootstrap/scss/bootstrap";*/
