<main style="margin-top: 2rem">

    <section class="mx-auto px-3">
        <div class="container card mb-3 col-md-8 p-0">
            <div class="row no-gutters">
                <div class="col-md-6 p-0">
                    <img [src]="product.imgUrl" class="card-img" alt="..." style="height: 28rem;">
                </div>
                <div class="col-md-6 pt-2 pb-4">
                    <div class="card-body">
                        <h3 class="card-title">{{product.brand}}</h3>
                        <h5 class="card-text">{{product.model}}</h5>
                        <h5>{{product.amount}}</h5>
                        <hr>
                        <div class="alert alert-success" role="alert" *ngIf="product.stores.length === 0">
                            🤔 Hmm, there is no price available.
                        </div>
                        <ul class="list-group mt-4">
                            <my-org-store></my-org-store>
                        </ul>
                        <button class="btn btn-primary float-right mt-2" (click)="open(content)">Add a Store</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--MODAL-->
    <ng-template #content let-modal>
        <div *ngIf="auth.user$ | async; else guest">
            <form [formGroup]="storeForm" (ngSubmit)="submit(); modal.close('Save click')">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">🏬 Add Store</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Store</label>
                    <input type="text" class="form-control" placeholder="e.g Fair Price" formControlName="store">
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" placeholder="e.g Vivo City" formControlName="location">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" placeholder="0.00" formControlName="price">
                </div>
                <div class="form-group">
                    <label>Price after discount <small>(If any)</small></label>
                    <input type="number" class="form-control" placeholder="0.00" formControlName="discount">
                </div>
                <div class="form-group">
                    <label>Offer <small>(If any)</small></label>
                    <input type="text" class="form-control" placeholder="e.g 'Buy 1 get 1 FREE!'"
                        formControlName="offer">
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            </form>
        </div>

        <ng-template #guest>
            <section class="container my-4 mx-auto text-center">
                <h3>Howdy, GUEST</h3>
                <p>Login to get started...</p>
                <button class="btn btn-danger btn-block col-10 mx-auto" (click)="auth.googleSignin()">
                    <i class="fab fa-google"></i> Google
                </button>
                <button class="btn btn-info btn-block col-10 mx-auto" (click)="auth.facebookSignin()">
                    <i class="fab fa-facebook-f"></i> Facebook
                </button>
            </section>
            <div class="container text-center mb-3">
                <small>
                    By signing up and/or logging in, you agree with PRICECOMPARE.CHEAP
                    <a href="https://www.freeprivacypolicy.com/live/1df42b4f-72d8-48a5-8f32-33ed3eb27a47">Privacy
                        Policy.</a>
                </small>
            </div>
        </ng-template>

    </ng-template>
</main>